<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Muppets</title>
</head>
<body>
    <h2>List of Muppets</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% for (i in muppets) { %>
                <tr>
                    <td><%= muppets[i].name %></td>
                    <td><%= muppets[i].color %></td>
                    <td><%= muppets[i].type %></td>
                    <td>
                        <a href="/muppets/<%= muppets[i].id %>">View</a> |
                        <a href="/muppets/<%= muppets[i].id %>/edit">Edit</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
    <p><a href="/muppets/new">Add New Muppet</a></p>
</body>
</html>
